# R Markdown syntax: chunks  --------------------------------------------------
snippet r
	```{r}
	${0}
	```

snippet py
	```{python}
	${0}
	```

snippet rcpp
	```{Rcpp}
	#include <Rcpp.h>
	using namespace Rcpp;

	${0}
	```

snippet sql
	```{sql connection=${1}}
	${0}
	```

snippet set
	```{r}
	set${0}
	```

snippet setup
	```{r}
	setupp${0}
	```

snippet setupp
	```{r}
	setupp${0}
	```

snippet fig
	```{r}
	fig${0}
	```

snippet img
	```{r}
	img${0}
	```

snippet tbl
	```{r}
	tbl${0}
	```

