# HTML code ------------------------------------------------------------------
snippet kbd
	<kbd>${0:Ctrl}</kbd>

snippet style
	<style>
	${1}
	</style>
	${0}

snippet html_space
	&${1:nbsp};${0}

snippet font
	<font color = "${1:red}">${0}</font>