# Rmd snippets ---------------------------------------------------------------
snippet fig-rmd
	```{r ${1:fig-ID-`r paste0(round(as.integer(Sys.time())), "-", sample(0:999, 1))`}, echo=FALSE, fig.cap=caption}
	# Caption/Description.
	caption <- "${2:**Fig. ${3:1}.** }${4:Description}  "

	# Path or URL to the figure.
	${5:knitr::include_graphics("${0}")}
	```

snippet setup-rmd
	```{r setup, include=FALSE}
	# Packages ------------------------------------------------------------------
	${1}

	# Settings ------------------------------------------------------------------
	${0}

	```
