# FIXME: this part (options) must be carefully reviewed
# Options --------------------------------------------------------------------
snippet help-lib
	lib
	lib-t
	lib-tidyverse

snippet lib-t
	lib-tidyverse

snippet lib-tidyverse
	library(magrittr)
	library(tidyverse)
	${0}
