# FIXME: this part (options) must be carefully reviewed
# Options --------------------------------------------------------------------
snippet help-lib
	lib
	lib-tidyverse

snippet lib-tidyverse
	library(conflicted)
	library(magrittr)
	library(tidyverse)
	${0}
