# HTML code ------------------------------------------------------------------
snippet kbd
	<kbd> ${0:Shift} </kbd>

snippet style
	<style>
	${1}
	</style>

snippet space2
	&${1:nbsp};${0}

snippet nbsp
	&${1:nbsp};${0}

snippet font
	<font color = "${1:red}">${0}</font>
