snippet help-data-types
	# The abbreviations (used in the Tidyverse) of the most common R data types:
	#     <fct>  -- nominal (factor, categorical);
	#     <ord>  -- ordinal;
	#     <int>  -- numeric (integers); 
	#     <dbl>  -- numeric (doubles, real numbers); 
	#     <lgl>  -- logical; 
	#     <chr>  -- text (character, strings); 
	#     <date> -- dates;
	#     <dttm> -- dates and times;
	#     <list> -- list column (more complex data structures than usual vectors).

